.neophyten-button {
    background-color: #e1f3b5;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    max-width: 200px;
}

.neophyten-button:hover {
    background-color: #abdd22;
}

.link-button {
    display: inline-block;
    /* or flex */
    background-color: #e1f3b5;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    max-width: 200px;
}

.link-button:hover {
    background-color: #abdd22;
}